<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="csa.stu.app.sysmanager.dao.SysDicMapper">
	
	<sql id="cols">d.dic_id,d.dic_code,d.dic_name,d.parent_id,d.dic_type,d.info,d.isdel</sql>
	
	<select id="selectByParent" parameterType="map" resultType="sysDic">
		select <include refid="cols"/>,p.dic_name as parent from sys_dictionary d left join sys_dictionary p
		on d.parent_id=p.dic_id
		<where>
			<if test="parentId!=null and parentId!=''">
				and d.parent_id=#{parentId}
			</if>
            <if test="parentId==null or parentId==''">
                and d.parent_id is null || d.parent_id=''
            </if>
		</where>
		order by d.createtime desc
	</select>
	
	<select id="selectWithParentById" parameterType="string" resultType="sysDic">
		select <include refid="cols"/>,p.dic_name as parent from sys_dictionary d left join sys_dictionary p
		on d.parent_id=p.dic_id
		where d.dic_id=#{id}
	</select>
	


</mapper>