<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="csa.stu.app.single.dao.BokeMapper">

  <sql id="cols">
    b.boke_id, b.boke_subtitle, b.boke_type, b.boke_title, b.boke_code, b.creater,b.ispublic,
    b.createtime, b.isdel, b.version,b.collect_num,b.state,b.picture_code,b.path,b.cover
  </sql>
  <!--left(b.info,72)-->
  <select id="selectTable" parameterType="map" resultType="Boke">
    select
    <include refid="cols" />,b.info as info
    from boke_boke b
    <where>
      <if test="bokeTitle!=null and bokeTitle!=''">
        and (b.boke_subtitle like '%${bokeTitle}%' or b.boke_title like '%${bokeTitle}%')
      </if>
      <if test="isdel!=null and isdel!=''">
        and b.isdel=#{isdel}
      </if>
      <if test="bokeType!=null and bokeType!=''">
        and b.boke_type=#{bokeType}
      </if>
      <if test="creater!=null and creater!=''">
        and b.creater=#{creater}
      </if>
    </where>
    order by b.createtime desc
  </select>

</mapper>