<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="csa.stu.app.single.dao.CommentMapper">

  <sql id="cols">
    c.comment_id, c.creater,c.createtime,c.who,c.target,c.target_type,c.info
  </sql>

  <select id="selectWithUserById" parameterType="string" resultType="comment">
      select  <include refid="cols" />,u.user_name as userName from boke_comment c left join boke_user u on c.creater=u.user_id
      where c.comment_id=#{id}
  </select>

  <select id="selectTable" parameterType="map" resultType="comment">
    select
    <include refid="cols" />,u.user_name as userName
    from boke_comment c left join boke_user u on c.creater=u.user_id
    <where>
      <if test="who!=null and who!=''">
        and c.who=#{who}
      </if>
    </where>
    order by c.createtime desc
  </select>

</mapper>