input{padding: 0px 5px;}
/**
 * 颜色选择方案
 */
.text-blue{color: #1E9FFF;}
.text-purple{color: #4B0082;}
.text-red{color: #FF5722;}
.text-gray{color: #009688;}
.text-black{color: #393D49;}
.text-orange{color: #FFB800;}
.text-light{color: #F0F0F0;}
.text-whilte{color: #FFFFFF;}

.bg-blue{background-color: #1E9FFF;}
.bg-red{background-color: #FF5722;}
.bg-gray{background-color: #009688;}
.bg-black{background-color: #393D49;}
.bg-orange{background-color: #FFB800;}
.bg-light{background-color: #F0F0F0;}
.bg-purple{background-color: #4B0082;}


/**
 * 边框选择方案
 */
.border-none{border-style: none;}
.border-solid-gray{
	border-style: solid;
	border-width: thin;
	border-color: #009688;
}
.border-solid-blue{
	border-style: solid;
	border-width: thin;
	border-color: #1E9FFF;
}
.border-solid-red{
	border-style: solid;
	border-width: thin;
	border-color: #FF5722;
}
.border-solid-black{
	border-style: solid;
	border-width: thin;
	border-color: #393D49;
}
.border-solid-orange{
	border-style: solid;
	border-width: thin;
	border-color: #FFB800;
}
.border-solid-light{
	border-style: solid;
	border-width: thin;
	border-color: #F0F0F0;
}
.border-solid-purple{
	border-style: solid;
	border-width: thin;
	border-color: #4B0082;
}


/**
 * 全局配置
 */
h1,h2,h3,h4,h5,h6{
	padding: 0px;
	margin: 0px;
}


/**
 * 表单解决方案
 *
 */
input[type='checkbox']{
	height: 20px; 
	width: 20px;
}



page-button{
	display: block;
	padding: 5px;
}

table-oper{
	display: inline-block;
	padding: 5px 0px;
}

table td,th{
	text-align: center;
	padding:2px 5px;
	font-size: 14px;
}
table tbody{
	
}

pop{
	display: none;
}
lay{
	background:rgba(0,0,0,0.5);
	display: none;
	position: fixed;
	left: 0;
	top: 0;
	overflow-y: auto;
}
lay .titleDiv{
	margin-bottom: 8px;
}
pop .title{
	vertical-align: top;
	font-size: 14px;
	float: left;
	padding: 0px;
	margin: 0px;
	color: white;
}
pop .close{
	font-size: 12px;
	float: right;
	background: white;
	display: inline-block;
}
pop .close:hover{
	text-decoration: underline;
}

.toast{
	z-index: 9999;
	display: none;
	position: fixed;
	padding: 10px;
	font-size: 14px;
	opacity: 0;
	animation-name: toast;
	animation-duration: 5s;
}
@keyframes toast{
	0%{
		opacity: 0;
	}
	25%{
		opacity: 0.8;
	}
	50%{
		opacity: 0.8;
	}
	100%{
		opacity: 0;
	}
}


.float-menu {
	position:absolute; 
	visibility:hidden;
	text-align: left;
	z-index: 9999;
}
.float-menu ul{
	margin: 0px;
	padding: 0px;
	list-style: none outside none;
}
.float-menu li{
	margin: 1px 0;
	padding:2px;
	min-width: 65px;
	text-align: center;
	cursor: pointer;
	list-style: none outside none;
	background-color: #FFFFFF;
	font-size: 14px;
}


tag{
	display: block;
	font-size: 14px;
}
tag-top{
	display: block;
	height: 35px;
	line-height: 35px;
	background: #202020;
}
tag-top label{
	background: white;
	color: #202020;
	display: inline-block;
	height: 35px;
	padding: 0px 5px 0px 5px;
	border-style: solid;
	border-width: thin;
	border-color: #C0C0C0;
}
tag-top label span{
	padding-right: 10px;
}
tag-top label i{
	font-size: 11px;
}
tag-top label i:hover{
	color: #C0C0C0;
}
tag-body{
	display: block;
}
tag-body iframe{
	width: 100%; 
	border-style: none;
	display: none;
	overflow: auto;
}


.pop-dash{
	border-radius: 8px;
	background: whitesmoke;
	display: inline-block;
	text-align: left;
	padding: 15px;
}

.table-image{
	max-width: 200px;
	max-height: 120px;
}