.editor-nav{
	font-size: 14px;
	padding: 5px 5px;
	background: #F5F5F5;
	margin-bottom: 10px;
}
.editor-nav span{
	display: inline-block;
	margin: 0px 5px;
}
.editor-nav span:hover{
	background: #009688;
	color: #FFFFFF;
}
.editor-content{
	line-height: 25px;
	height: 100%;
	outline: none;
}
.editor-content-shell{
	border-style: solid;
	border-color: #4B0082;
	border-width: thin;
	overflow-y: scroll;
	overflow-x: hidden;
	padding: 10px;
	height: 500px;
}
.editor-content img{
	display: block;
	text-align: center;
}
.editor-content a{
	text-decoration: underline;
	color: blue;
}
.pop{
	border-style: solid;
	border-width: thin;
	border-radius: 8px;
	padding: 15px;
	background: #FFFFFF;
}
.pop-item{
	padding: 10px 0px;
}
.showImg{
	max-width: 200px;
	max-height: 200px;
}
.pop textarea{
	vertical-align: top;
}

title{
	display: block;
}
.h1{
	padding:10px 0px;
	margin: 0px;
	font-size: 32px;
	font-weight: bolder;
}
.h2{
	margin: 0px;
	padding:5px 0px;
	font-size: 28px;
	font-weight: bold;
}
.h3{
	margin: 0px;
	padding:5px 0px;
	font-size: 24px;
	font-weight: bold;
}
.h4{
	margin: 0px;
	padding:5px 0px;
	font-size: 20px;
	font-weight: bold;
}
.h5{
	margin: 0px;
	padding:5px 0px;
	font-size: 16px;
	font-weight: bold;
}
.h6{
	margin: 0px;
	padding:5px 0px;
	font-size: 14px;
	font-weight: bold;
}
