.nav{
    background: black;
    color: white;
    padding: 15px;
}
.nav a{
    font-size: 16px;
    text-decoration: none;
}
.nav a:hover{
    text-decoration: underline;
}
.nav h3{
    display: inline-block;
    vertical-align: middle;
    margin: 0px;
    padding: 0px;
    margin-left: 10%;
}

.center{
    width: 80%;
    margin-left: 10%;
}